<div>
<h1 class = "blue" >Snapscan<h1>

  <%= link_to  'LOG IN', new_user_session_path, :class => "btn btn-primary ww"  %>
  <%= link_to 'SING UP', new_user_registration_path, :class => " btn btn-light ww" %> <br/>
</div>