.blue {
  color: #434b54;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-size: 35px;
  font-weight: bold;
  margin-left: 25%;
  margin-bottom: 50%;
}

.a {
  text-decoration-line: none;
}

.ww {
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
}

.navbar {
  margin-top: -66px;
}

.center {
  margin-right: -10%;
  font-size: 20px;
}

.top {
  margin-top: -10px;
}

.big {
  font-size: 20px;
  margin-left: 10px;
  margin-top: -10px;
}

nav {
  margin-bottom: 10px;
}

.noborder {
  border: none;
}

.centerr {
  margin-left: 30%;
}

.bot {
  margin-bottom: 9%;
}
